{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{=error}}
{{pass}}

<h1>List all recipes</h1>
<div id="all_recipes" class="row">
{{for recipe in records:}}
    <div class="span3">
     <a href="{{=URL('show', args=recipe.id)}}"><img src="{{=URL('download', args=recipe.image)}}" /></a>
    <h5>{{=A(recipe.title,_href=URL('show', args=recipe.id))}}</h5>
        <p>Created by {{=db.auth_user[recipe.created_by].first_name}} on {{=recipe.created_on}}</p>

    </div>
{{pass}}
</div>
<p>
     {{=A('View all recipes',_href=URL('all_recipes'), _class="btn btn-primary")}}
</p>

<!-- {{=LOAD('default','contactform.load',ajax=True)}} -->


{{block right_sidebar}}
Right Sidebar
{{end}}
